<div class="flex flex-col">
  <div class="flex flex-row justify-start align-middle mb-3 ml-4 w-f">
    <app-filter-button>código de barras</app-filter-button>
    <app-filter-button>fabricante</app-filter-button>
    <app-filter-button>palabras clave</app-filter-button>
    <app-filter-button>marca</app-filter-button>
    <app-filter-button>categoría</app-filter-button>
  </div>
  <div class="flex flex-row justify-center">
    <app-product></app-product>
    <app-product></app-product>
    <app-product></app-product>
  </div>
</div>
