<div
  [ngClass]="[
    !isActive
      ? 'z-[2] bg-slate-800 w-full h-auto flex flex-col justify-around rounded-lg'
      : 'z-[2] bg-slate-800 w-full h-auto flex flex-col justify-around rounded-lg overflow-hidden'
  ]"
>
  <div class="flex flex-row items-center justify-around w-full">
    <div class="p-2 flex flex-row m-3">
      <a href="#" target="_blank">
        <img
          src="../../../../assets/barcode.svg"
          alt="barcode-logo"
          class="w-10"
        />
      </a>
      <!-- <h3 class="text-white p-2">search product</h3> -->
    </div>
    <div
      class="p-1 m-3 h-8 rounded-md flex items-center justify-between w-[100%] bg-slate-50"
    >
      <app-button
        class="flex-none ml-1 w-4"
        img="../../../../assets/search.svg"
        alt="search-img"
      ></app-button>
      <div class="grow ml-3">
        <form>
          <input
            type="text"
            name="value"
            placeholder="search procuct"
            id="search"
            class="bg-transparent w-[100%]"
            (input)="search($event)"
            [(ngModel)]="value"
          />
        </form>
      </div>
      <!-- <app-button class=""></app-button> -->
      <app-button
        [ngClass]="[
          isActive ? 'active flex-none mr-1 w-5' : 'flex-none inactive w-5'
        ]"
        img="../../../../assets/cancel-search.svg"
        alt="cancel-search-img"
        (click)="clean()"
      ></app-button>
      <app-button
        (click)="hideHilters()"
        class="flex-none mr-1 w-5"
        img="../../../../assets/filter.svg"
        alt="filter-search-img"
      ></app-button>
    </div>
  </div>
  <app-show-sesults *ngIf="isActive" class="mb-2 mt-0"></app-show-sesults>
</div>
